.box-l(){
  box-l{
    box-sizing: border-box;
    display: block;
    max-inline-size:fit-content;
  }
}

.box-l-max-width(@max-width){
  box-l[max-width="@{max-width}"]{
    max-inline-size: @max-width; 
  }
}
