.center-l(){
  center-l{
    box-sizing: content-box;
    max-inline-size: fit-content;
    margin-inline: auto;
    display: block;
    text-align: initial;
  }
}

.center-l-max-width(@max-width){
  center-l[layout*="max-width:@{max-width}"]{
    max-inline-size: @max-width; 
    --center-max-width: @max-width;
  }
}

.center-l-and-text(){
  center-l[layout*="and-text"]{
    text-align:center;
  }
}

.center-l-recursive(){
  center-l[layout*="recursive"]{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
}
