.ledge-l(){
  ledge-l{
    display:flex;
    flex-wrap: wrap;

    & > * {
      min-width: 0;
    }
  }
}

.ledge-l-nowrap(){
  ledge-l[layout*="nowrap"]  {
      flex-wrap:nowrap;
  }
}

.ledge-l-twin-width(){
  ledge-l[layout*="twin-width"] > * {
      flex-grow:1;
      flex-basis:0;
      min-width: 0;
  }
}

.ledge-l-direction(@direction){
  ledge-l[layout*="direction:@{direction}"]{
    flex-direction: @direction;
  }
}

.ledge-l-justify(@justify){
  ledge-l[layout*="justify:@{justify}"]{
    justify-content: @justify;
  }
}

.ledge-l-align(@align){
  ledge-l[layout*="align:@{align}"]{
    align-items: @align;
  }
}

.ledge-l-gap(@gap){
  ledge-l[layout*="gap:@{gap}"]{
    gap: pow(@harmonic-ratio, @gap)*1rem;
  }
}
