.ledge(){
  ledge{
    display:flex;
    flex-wrap: wrap;

    & > * {
      min-width: 0;
    }
  }
}

.ledge-nowrap(){
  ledge[nowrap]  {
      flex-wrap:nowrap;
  }
}

.ledge-twin-width(){
  ledge[twin-width] > * {
      flex-grow:1;
      flex-basis:0;
      min-width: 0;
  }
}

.ledge-direction(@direction){
  ledge[direction="@{direction}"]{
    flex-direction: @direction;
  }
}

.ledge-justify(@justify){
  ledge[justify="@{justify}"]{
    justify-content: @justify;
  }
}

.ledge-align(@align){
  ledge[align="@{align}"]{
    align-items: @align;
  }
}

.ledge-gap(@gap){
  ledge[gap="@{gap}"]{
    gap: pow(@harmonic-ratio, @gap)*1rem;
  }
}
