.outsider-l(){
  outsider-l{
    display:block;
  }
}

.outsider-l-position(@position){
  outsider-l[layout*="position:@{position}"]{
    position: @position;
  }
}

.outsider-l-top(@top){
  outsider-l[layout*="top:@{top}"]{
    top: @top;
  }
}

.outsider-l-bottom(@bottom){
  outsider-l[layout*="bottom:@{bottom}"]{
    bottom: @bottom;
  }
}

.outsider-l-left(@left){
  outsider-l[layout*="left:@{left}"]{
    left: @left;
  }
}

.outsider-l-right(@right){
  outsider-l[right="@{right}"]{
    right: @right;
  }
}




