.outsider(){
  outsider{
    display:block;
  }
}

.outsider-position(@position){
  outsider[position="@{position}"]{
    position: @position;
  }
}

.outsider-top(@top){
  outsider[top="@{top}"]{
    top: @top;
  }
}

.outsider-bottom(@bottom){
  outsider[bottom="@{bottom}"]{
    bottom: @bottom;
  }
}

.outsider-left(@left){
  outsider[left="@{left}"]{
    left: @left;
  }
}

.outsider-right(@right){
  outsider[right="@{right}"]{
    right: @right;
  }
}




