.rack(){
  rack{
    display:flex;
    flex-direction:column;

    & > [centered]{
      margin-block: auto;
    }

    & > :first-child:not([centered]) {
      margin-block-start: 0;
    }

    & > :last-child:not([centered]) {
      margin-block-end: 0;
    }

  }
}

.rack-height(@height){
  rack[height="@{height}"]{
    height: @height;
    overflow-y: scroll;
  }
}

.rack-min-height(@min-height){
  rack[min-height="@{min-height}"]{
    min-height: @min-height;
  }
}

.rack-gap(@gap){
  rack[gap="@{gap}"]{
    gap: pow(@harmonic-ratio, @gap)*1rem;
  }
}
