.slider-l(){
  slider-l{
    display: flex;
    block-size: auto;
    overflow-x: auto;
    overflow-y: hidden;

    & > * {
      flex-shrink: 0;
      flex-grow: 0;
      height: auto;
      min-width: 0px;
    }

    & > img{
      object-fit: cover;
    }
  }
}

.slider-l-hide-bar(){
  slider-l[layout*="hide-bar"]{
    overflow: hidden;
  }
}

.slider-l-item-width(@item-width){
  slider-l[layout*="item-width:@{item-width}"] > *{
    flex-basis: @item-width;
  }
}

.slider-l-height(@height){
  slider-l[layout*="height:@{height}"]{
    block-size: @height;
  }
}

.slider-l-gap(@gap){
  slider-l[layout*="gap:@{gap}"]{
    gap: pow(@harmonic-ratio, @gap)*1rem;
  }
}
